.Rbuildignore
.Rproj.user
.Rhistory
.Rbuildignore
# History files
.Rhistory*
.Rapp.history
.DS_Store

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
.Rproj.user/*

# RData
.RData

# produced vignettes
vignettes/*.html
vignettes/*.pdf

#*.Rproj
.Rproj.user

data-raw/fonts-master.zip
fonts-master

inst/app/rsconnect/
